@media (max-width: 800px) {
  .menu-btn {
    display: block;
  }
  .main-nav .right-menu {
    display: none;
  }
  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: black;
    width: 100%;
    height: 40vh;
    padding: 20px;
    z-index: 2;
    transform: translateX(-900px);
  }
  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
  }
  .main-nav ul.main-menu li:hover {
    color: black;
    background-color: gray;
  }
  .main-nav ul.main-menu a {
    color: white;
  }
  .main-nav ul.main-menu.show {
    transform: translateX(-21px);
    transition: transform 0.2s ease-in-out;
  }
  .team-members aside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
  }
  .container-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
  .price-container aside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
